# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Env file (rất quan trọng - chứa key, db password)
.env

# Upload files (nếu không muốn lưu ảnh user)
uploads/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db